.commoninputfield {
  position: relative;
}
.show-premium-input-error {
  /* position: absolute; */
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.hide-premium-input-error {
  /* position: absolute; */
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.hide-premium-input-error p {
  margin-bottom: 0px !important;
}

.show-premium-input-error p {
  margin-bottom: 0px !important;
}

.ant-input-number-outlined:hover {
  border-color: #6a00ff;
  background-color: #ffffff;
}

.ant-input-number-outlined:focus,
:where(
    .css-dev-only-do-not-override-1m2bkf9
  ).ant-input-number-outlined:focus-within {
  border-color: #6a00ff;
  box-shadow: 0 0 0 2px rgb(78 5 255 / 10%);
}

.ant-select-selector {
  padding-left: 0px !important;
}
